# Node.js dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# TypeScript cache
*.tsbuildinfo

# Ignore everything in the docs directory
docs/*

# Except for the .nojekyll file and other files in docs
!docs/.nojekyll
!docs/*
